@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("./cdnjsdelivr/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
body {
  font-family: "Oswald", sans-serif;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.hero-header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.01);
  filter: drop-shadow(5px 5px 10px #000);
  height: 70px;
  width: 100%;
  z-index: 9999;
  padding: 10px;
  margin-top: -70px;
}
.hero-header nav.sideloader i.bi-list {
  font-size: 42px;
  color: #fff;
}
.hero-header .logo img {
  width: 130px;
}

.hero-footer {
  position: fixed;
  bottom: -50px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.01);
  z-index: 9999;
  height: 50px;
  width: 100%;
  padding: 10px;
}
.hero-footer .copyright {
  font-size: 18px;
  color: #fff;
}
.hero-footer .icons i {
  font-size: 25px;
  color: #fff;
  margin-left: 10px;
}

.containers {
  height: 100vh;
  width: 100%;
}

.panel {
  width: 100%;
  height: 100vh;
  will-change: transform;
}

.panel {
  box-sizing: border-box;
  border: 5px solid #000;
  border-width: 5px 0;
}

.title {
  position: relative;
  width: 100%;
  height: 100vh;
}
.title h1 {
  font-size: 55px;
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  text-align: center;
  mix-blend-mode: luminosity;
}
@media (max-width: 768px) {
  .title h1 {
    font-size: calc(1.8rem + 1vw);
  }
}

.gotoNext {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9999999;
}
.gotoNext a {
  display: block;
}

.slide01,
.slide02,
.slide03,
.slide04 {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  flex-wrap: wrap;
}

.slide01 {
  background: url("../img/video-stills/hyundai-verna.png") center center no-repeat;
}

.slide02 {
  background: url("../img/video-stills/Hazoorlal-Legacy.avif") center center no-repeat;
}

.slide03 {
  background: url("../img/video-stills/vivo.avif") center center no-repeat;
}

.slide04 {
  background: url("../img/video-stills/vitara-brezza.avif") center center no-repeat;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.05;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.08;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.05;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.08;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg) skewX(10deg) skewY(90deg);
    opacity: 0.8;
  }
  10%, 30%, 40%, 50%, 70%, 80%, 90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(5deg) skewX(10deg) skewY(90deg);
    opacity: 0.2;
  }
  20%, 60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(1deg);
    opacity: 0.9;
  }
  45%, 85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(-8deg);
    opacity: 0.5;
  }
  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
    opacity: 1;
  }
}
@keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg) skewX(10deg) skewY(90deg);
    opacity: 0.8;
  }
  10%, 30%, 40%, 50%, 70%, 80%, 90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(5deg) skewX(10deg) skewY(90deg);
    opacity: 0.2;
  }
  20%, 60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(1deg);
    opacity: 0.9;
  }
  45%, 85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(-8deg);
    opacity: 0.5;
  }
  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
    opacity: 1;
  }
}
.main-menu {
  position: fixed;
  left: -100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}
.main-menu .menuBg {
  width: 20%;
  background-color: rgb(24, 24, 24);
  height: 100vh;
}
@media (max-width: 820px) {
  .main-menu .menuBg {
    width: 40%;
  }
}
@media (max-width: 640px) {
  .main-menu .menuBg {
    width: 70%;
  }
}
.main-menu .menuBg .close {
  text-align: center;
  padding: 10px auto;
}
@media (max-width: 640px) {
  .main-menu .menuBg .close {
    text-align: center;
  }
}
.main-menu .menuBg .close a {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.main-menu .menuBg ul {
  list-style: none;
  margin-top: 50px;
}
.main-menu .menuBg ul li {
  margin-bottom: 10px;
}
.main-menu .menuBg ul li a {
  font-family: "Khand", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.main-menu .menuBg ul li a:hover {
  -webkit-animation: shake 6s infinite;
          animation: shake 6s infinite;
  color: #c00;
}
.main-menu .menuBg ul li a.active {
  color: #c00;
}
.main-menu .menuBg ul li a.active:hover {
  -webkit-animation: none;
          animation: none;
}

h1.pageTitle, h1.pageTitle a {
  color: #d73535;
  font-family: "Khand", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}
h1.clipMask {
  color: #d73535;
  font-family: "Khand", sans-serif;
  font-size: 18vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  mix-blend-mode: normal;
  background: url(../img/bg-1024x713.jpg) center center/cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contentWrap {
  margin-top: 120px;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}
.contentWrap p {
  text-align: justify;
}

.our-people .people-name,
.our-people .people-designation {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.our-people .people-designation {
  font-size: 1.8rem;
  text-transform: none;
  font-family: "Khand", sans-serif;
  font-weight: 500;
  color: #d73535;
}
.our-people .core-team .section-title {
  font-family: "Khand", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  color: #d73535;
  text-align: center;
  margin: -50px 0 100px 0;
}
.our-people .core-team figure {
  text-align: center;
}
.our-people .core-team figure img {
  margin: 0 auto;
}
.our-people .core-team .people-name {
  font-size: 2rem;
  text-align: center;
}
.our-people .core-team .people-designation {
  font-size: 1.4rem;
  text-align: center;
}
.our-people .core-team p {
  font-size: 1rem;
  text-align: center;
}

.our-work .work-links ul,
.our-work .work-videos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.our-work .work-links ul li,
.our-work .work-videos ul li {
  list-style: none;
}
.our-work .work-links ul li a,
.our-work .work-videos ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Khand", sans-serif;
}
.our-work .work-links ul li a:hover,
.our-work .work-videos ul li a:hover {
  -webkit-animation: shake 6s infinite;
          animation: shake 6s infinite;
}
.our-work .work-links ul li a.active,
.our-work .work-videos ul li a.active {
  color: #d73535;
}
.our-work .work-links .metadata,
.our-work .work-videos .metadata {
  margin-top: 40px;
}
.our-work .work-links .metadata h2,
.our-work .work-videos .metadata h2 {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
}
.our-work .work-links .metadata .director,
.our-work .work-links .metadata .description,
.our-work .work-videos .metadata .director,
.our-work .work-videos .metadata .description {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
}
.our-work .work-links .metadata .director span,
.our-work .work-links .metadata .description span,
.our-work .work-videos .metadata .director span,
.our-work .work-videos .metadata .description span {
  color: #d73535;
}

.single-client {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.directors .contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  height: 50vh;
}

body.index #index-anchor,
body.our-work #our-work-anchor,
body.directors #directors-anchor,
body.clients #clients-anchor,
body.our-people #our-people-anchor,
body.about-us #about-us-anchor,
body.contact-us #contact-us-anchor {
  color: #d73535;
  text-decoration: underline;
}

@media (max-width: 820px) {
  .containers {
    position: relative;
    padding-bottom: 56.25vw;
  }
  .panel {
    width: 100%;
    height: 100vh;
    will-change: transform;
  }
}
.contact-blocks {
  text-transform: uppercase;
}
.contact-blocks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-blocks ul li {
  margin-bottom: 10px;
}
.contact-blocks ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.contact-blocks .sectionTitle {
  text-decoration: underline;
}
.contact-blocks .contact-details {
  margin: 10px 0;
}
.contact-blocks .contact-details p {
  font-size: 18px;
}
.contact-blocks .contact-details p.name {
  color: #d73535;
  font-size: 20px;
}

.contentWrap.hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  width: 100%;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
  overflow: none;
}
.flipper .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.flipper .back {
  transform: rotateY(180deg);
}
.flipper .front,
.flipper .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clear: both;
}

.requestForm label.error {
  font-size: 14px;
  color: #c00;
  text-align: right;
  display: block;
}

.responseMessage {
  border: 1px solid #555555;
  padding: 40px;
  border-radius: 20px;
  display: none;
}
.responseMessage a {
  text-decoration: none;
  color: #d73535;
}

#contactForm label.error {
  font-size: 14px;
  color: #f00;
}

.contactFormResponse {
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */